{% extends 'admin/base.html.twig' %}

{% block title %}Hello TeacherController!
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path('dashboard')}}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Student</li>
					</ol>
				</div>
				<div class="col-sm-6">
					<a class="btn btn-success float-sm-right" href="{{path('bo_student_class_add')}}">Ajouter une nouvelle classe</a>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
	<div class="col-12">
		<div class="card card-success">
			<div class="card-header">
				<h3 class="card-title">Listes des classes enregistrer</h3>
			</div>
			<div class="card-body">
				<table id="teacherlist" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Année scolaire</th>
							<th>Nom</th>
							<th>Slug</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for list in listClass %}
							<tr>
								<td>{{list.scolaryear}}</td>
								<td>{{list.name}}</td>
								<td>{{list.slug}}</td>
								<td>{{ include('admin/block/status.html.twig', { 'etat_status': list.status}) }}</td>
								<td>
									<a href="{{ path('bo_student_class_edit', {'id': list.id}) }}" class="btn btn-rounded btn-success" data-toggle="tooltip" data-placement="bottom">
										<i class="m-r-10 fas fa-edit"></i>
									</a> &nbsp;&nbsp;&nbsp;
									<a href="{{ path('bo_class_delete', {'id': list.id}) }}" class="btn btn-rounded btn-danger" data-toggle="tooltip" data-placement="bottom">
										<i class="m-r-10 mdi fas fa-trash"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{# {% include ("admin/contact/form/_formTeacher.html.twig") %} #}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ include('admin/block/blockjs.datatable.html.twig', { 'table_id': 'teacherlist', 'targets': 3 }) }}
{% endblock %}