{{ form_start(form_class) }}

    <div class="form-group mt-4">
        {{ form_row(form_class.scolaryear) }}
    </div>
     <div class="form-group mt-4">
        {{ form_row(form_class.user) }}
    </div>
     {# <div class="form-group mt-4">
        {{ form_row(form_class.slug) }}
    </div> #}
    <div class="form-group mt-4">
        {{ form_row(form_class.status) }}
    </div>
    <div class="form-group mt-4">
        <div class="col-lg-6 offset-3">
        {% if editMode %}
            <button type="submit" class="btn btn-success btn-block">Mettre à jour la liste</button>
        {% else %}
            <button type="submit" class="btn btn-primary btn-block">Ajouter dans la liste</button>
        {% endif %}
        
    </div>

{{ form_end(form_class) }}