{{ form_start(formUser) }}
    {% if(editMode) %}
        <div class="form-group mt-4">
            {{ form_row(formUser.type) }}
        </div>
        {# <div class="form-group mt-4">
            {{ form_row(formUser.name) }}
        </div> #}
        <div class="form-group mt-4">
            {{ form_row(formUser.firstname) }}
        </div>
        <div class="form-group mt-4">
            {{ form_row(formUser.email) }}
        </div>
        <div class="form-group mt-4">
            {{ form_row(formUser.password , {'attr' : {'hidden' : false , 'required' : false} }) }}
        </div>
         <div class="form-group mt-4">
            {{ form_row(formUser.confirm_password , {'attr' : {'hidden' : true , 'required' : false} })  }}
        </div>
         <div class="form-group mt-4">
            <button type="submit" class="btn btn-success">Modifier information</button>
        </div>
    {% else %}
        <div class="form-group mt-4">
            {{ form_row(formUser.type) }}
        </div>
        {# <div class="form-group mt-4">
            {{ form_row(formUser.name) }}
        </div> #}
        <div class="form-group mt-4">
            {{ form_row(formUser.firstname) }}
        </div>
        <div class="form-group mt-4">
            {{ form_row(formUser.email) }}
        </div>
        <div class="form-group mt-4">
            {{ form_row(formUser.password) }}
        </div>
         <div class="form-group mt-4">
            {{ form_row(formUser.confirm_password) }}
        </div>
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    {% endif %}

{{ form_end(formUser) }}