{% extends 'admin/base.html.twig' %}

{% block title %}DashboardController!{% endblock %}

{% block body %}
 <br>
<div class="content">
    <div class="row">
           
            <div class="col-lg-4 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{teachers}}<sup style="font-size: 20px"></sup></h3>
                  <p>Listes des profs</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{{path('bo_teacher')}}" class="small-box-footer">Plus d'information <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-4 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{users}}</h3>
                  <p>Utilisateur enregistrer</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="{{path('user_list')}}" class="small-box-footer">Plus d'information <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-4 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>{{messages}}</h3>
                  <p>Messages des visiteurs</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{{path('contact_page_message')}}" class="small-box-footer">plus d'information <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->
</div>
{% endblock %}
