{% extends 'fo/base.html.twig' %}

  {# {% extends "fo/components/carousel.html.twig" %} #}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
{# {{ render(controller('App\\Controller\\fo\\CarouselController::index')) }} #}
<br>
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
      {% for infocontact in contact %}
        <div class="section-title">
          <h2>{{infocontact.title}}</h2>
        </div>

        <div class="row">
          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Adresse:</h4>
                <p>{{infocontact.adress}}</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>{{infocontact.email}}</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Telephone:</h4>
                <p>{{infocontact.telephone}}</p>
              </div>

              <div class="phone">
                <i class="bx bxl-facebook"></i>
                <h4>Facebook:</h4>
                <p>{{infocontact.facebook}}</p>
              </div>

              <div class="phone">
                <i class="bx bxl-twitter"></i></a>
                <h4>Twitter:</h4>
                <p>{{infocontact.twitter}}</p>
              </div>

              {# <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> #}
            </div>

          </div>
        {% endfor %}

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="{{path('contact_fo_add_message')}}" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Nom et Prénom</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Votre nom doit contenir au moins 4 caractère " />
                  <div class="validate"></div>
                </div>
                {# <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div> #}
                 <div class="form-group col-md-6">
                  <label for="name">Numéros téléphone</label>
                  <input type="number" class="form-control" name="phonenumber" id="number" data-rule="number" data-msg="Veuillez entrer un numéros valide" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Sujet</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Le champs ne peut pas être vides , entrez au moins 4 caractères " />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Le message ne peut pas être vide"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->
{% endblock %}
